$purple: #7747FF;
$light-purple: #CBB9FF;
$media-query-max-width: 1000px;
$slight-grey: #DFDFDF;
$grey: #EFEFEF;

.color-purple {
  color: $purple;
}
.background-color-purple {
  background-color: $purple;
}