.text-align-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

$media-query-max-width: 576px;


.rotate-90 {
  transform: rotate(90deg);
}

.hover-to-be-pointer {
  &:hover {
    cursor: pointer !important;
  }
}
