
.tag-detail-container{
  background-color:#CBB9FF;
  height:98vh;
  padding:15px;
  .item-Box{

    background-color:white;
    margin-top:10px;
    margin-bottom:10px;
    align-items:center;
    justify-content:space-between;
    display:flex;
    padding:5px;
    border-radius: 1px



  }
}
